:root {
  --bulma-success-h: 208;
  --bulma-success-s: 100%;
  --bulma-success-l: 22%;
  --bulma-success-invert-l: 100%;
  scrollbar-width: none;
}

.modal-background {
  background-color: #000;
}

.modal {
  transition: transform .75s ease-in-out 0s;
  transform: translateY(100vh);
  display: flex;
}

.modal.is-active {
  transform: translateY(0vh);
}

.arm-logo {
  width: 7.5rem;
  fill: none;
}

@media (prefers-color-scheme: light) {
  .arm-logo path {
    fill: hsl(221deg 14% 21%);
  }
}

/* .cell {
  transform: scale(1);
  transition: transform .25s ease 0s;
}

.cell:hover {
  transform: scale(1.025);
} */
