:root {
  --bulma-success-h: 208;
  --bulma-success-s: 100%;
  --bulma-success-l: 22%;
  --bulma-success-invert-l: 100%;
  scrollbar-width: none;
}

.modal-background {
  background-color: #000;
}

.modal {
  transition: transform .75s ease-in-out 0s;
  transform: translateY(100vh);
  display: flex;
}

.modal.is-active {
  transform: translateY(0vh);
}

.modal-content {
  margin: 0;
  min-width: 90%;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.modal-content > iframe {
  height: 100%;
  width: 100%;
}

.arm-logo {
  width: 7.5rem;
  fill: none;
}

@media (prefers-color-scheme: light) {
  .arm-logo path {
    fill: hsl(221deg 14% 21%);
  }
}
